$color-black:     #1C1B19;
$color-red:       #FF3128;
$color-green:     #519F50;
$color-yellow:    #FBB829;
$color-blue:      #5573A3;
$color-magenta:   #E02C6D;
$color-cyan:      #1693A5;
$color-white:     #FCE8C3;
$color-brBlack:   #2D2B28;
$color-brRed:     #DA4939;
$color-brGreen:   #98BC37;
$color-brYellow:  #FFC66D;
$color-brBlue:    #6D9CBE;
$color-brMagenta: #E35682;
$color-brCyan:    #34BEDA;
$color-gray:      #918175;

$font-body:    'Source Sans Pro', sans-serif;
$font-nav:     'Source Sans Pro', sans-serif;
$font-head:    'Source Sans Pro', sans-serif;
$font-code:    monospace;
$font-size:    16px;

.black {
  color: $color-black; }
.red {
  background-color: $color-red; }
.green {
  background-color: $color-green; }
.yellow {
  background-color: $color-yellow; }
.blue {
  background-color: $color-blue; }
.magenta {
  background-color: $color-magenta; }
.cyan {
  background-color: $color-cyan; }
.white {
  background-color: $color-white; }
.brBlack {
  background-color: $color-brBlack; }
.brRed {
  background-color: $color-brRed; }
.brGreen {
  background-color: $color-brGreen; }
.brYellow {
  background-color: $color-brYellow; }
.brBlue {
  background-color: $color-brBlue; }
.brMagenta {
  background-color: $color-brMagenta; }
.brCyan {
  background-color: $color-brCyan; }
.gray {
  background-color: $color-gray; }

h1, h2, h3, h4, h5, h6 {
  font-family: $font-head; }

body {
  color: $color-white;
  background-color: $color-black;
  font-family: $font-body;
  font-size: $font-size; }

a {
  color: $color-cyan; }

h2 {
  font-size: 1.6em }

h3 {
  font-size: 1.4em; }

hr {
  border-color: $color-brBlack;
}
a:hover {
  color: $color-brCyan; }

.container {
  max-width: 1000px; }

.right {
  float: right;
  text-align: right; }

.navbar {
  border-radius: 0; }

.navbar-default {
  background-color: $color-brBlack;
  border: none; }

.navbar-default .navbar-brand {
  color: $color-white;
  font-family: $font-nav; }

.navbar-default .navbar-brand:hover {
  color: $color-white; }

.navbar-default .navbar-nav li a {
  color: $color-white; }

.navbar-default .navbar-nav li a:hover {
  color: $color-white;
  background-color: $color-brCyan; }

.navbar-default .navbar-nav .active a {
  color: $color-white;
  background-color: $color-cyan; }

.navbar-default .navbar-toggle:hover {
  background-color: $color-cyan; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: $color-white; }

#sidebar {
  margin-left: 15px;
  margin-top: 50px; }

#content {
  background-color: $color-black;
  //border-radius: 3px;
  //box-shadow: 0 0 0 0, 0 6px 12px rgba(34, 34, 34, 0.1);
}

#content img {
  max-width: 100%;
  height: auto; }

footer {
  font-size: 14px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 30px; }

#post-tags {
  margin-top: 22px; }

#prev-next {
  padding: 15px 0; }

.post-header {
  margin-bottom: 18px; }

.post-header h2 {
  font-size: 2em; }

#post-meta {
  font-size: 1em;
  /*color: rgba(0, 0, 0, 0.4);*/
  color: $color-gray;
}

#page-header {
  border-bottom: 1px solid $color-gray;
  margin-bottom: 20px; }

#page-header h2 {
  font-size: 2em; }

pre {
  background-color: $color-brBlack;
  border: none;
  padding: 5px;
  border-radius: 0;
  overflow-x: auto; }

pre code {
  overflow-wrap: normal;
  white-space: pre; }

code {
  font-family: $font-code;
  background-color: $color-black;
  color: $color-cyan; }

pre, code, .hljs {
  /*background-color: #f7f9fd; */
}

@media (min-width: 768px) {

  .navbar-default .navbar-brand {
    font-size: 2em; }
  }


@media (max-width: 767px) {
  body {
    font-size: 14px; }

  .navbar-default .navbar-brand {
    font-size: 20px; }

  #content {
    padding: 15px; }

  #post-meta .right {
    float: left;
    text-align: left; } }
